.main {
  width: 750px;
  margin: 70px auto auto;
}

.player {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  border: 3px solid #ccc;
  /*box-shadow: 5px 10px 10px #888;*/
  border-radius: 10px;
  overflow: hidden;
}
